:root {

    /* color pallete */
    --background-color: #F6F7F9;
    --primary-color: #BA2727;
    --secondary-color: #6E757C;
    --icon-hover-color: #fe302f;


    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;


    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    /* font weight */

    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

}


hr{
    border: none;
}
form{
    display: none;
}
.delete_btn{
    background: var(--primary-color);
    width: 100%;
    height: 50px;
    color: var(--background-color);
}