:root {

    /* color pallete */
    --background-color: #F6F7F9;
    --primary-color: #BA2727;
    --secondary-color: #6E757C;
    --icon-hover-color: #fe302f;


    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;


    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    /* font weight */

    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

}







body {
    background-color: var(--background-color);
    font-family: 'Poppins',
        sans-serif;
}


.navbar {
    padding: 48px 0;
}

.navbar-brand {
    font-size: var(--header-4);
}


a.nav-link,
i {
    margin-right: 39px;
    font-size: var(--text-medium);
}

.nav-link .active {
    color: var(--primary-color);
}
.container-fluid a .active{
    color: var(--primary-color);
}

.btn:hover {
    background-color: var(--secondary-color);
}

section.hero {
    margin: 1rem 0;
}

.text-label,
.text-hero-bold,
.text-hero-regular {
    margin: 20px 0;
}

.text-label {
    color: var(--secondary-color);
    line-height: 30px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
}

.text-hero-bold {
    color: #BA2727;
    font-size: 5vw;
    font-weight: var(--font-weight-bold);
}

.text-hero-regular {
    color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
}



.hero-image img {
    width: 100%;
}


.featured {
    width: 100%;
    height: 100vh;
}

.featured-title {
    padding-top: 1em;
    font-size: var(--header-4);
}

.featured_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    gap: 1rem;

}

.products {
    width: 350px;
}
.product_link{
    text-decoration: none;
}

.products .image_section {
    width: 300px;
    height: 350px;
    position: relative;
}

.products .image_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .2s;
}

.products .image_section img:hover {
    transform: scale(0.9);
}

.products .product_icons {
    position: absolute;
    top: 5px;
    right: 5px;
    list-style: none;
}

.products .product_icons {
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 10;
    right: 5px;
}

.bi-cart {
    text-align: center;
    position: absolute;
    top: 9px;
    left: 9px;
    cursor: pointer;

}

.bi-cart:hover {
    color: var(--icon-hover-color);
}

.bi-cart-fill {
    color: var(--icon-hover-color);
    position: absolute;
    top: 9px;
    left: 9px;
    cursor: pointer;
}